@font-face {
  font-family: 'Mig';
  src: url('./migmix-2p-regular.ttf') format('truetype');
}

html{
  font-family:'Mig', 'ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック','メイリオ','Meiryo',sans-serif;
}

body {
  font-size:18px;
  background: #304560;
  color:#E9E9FF;
  width:100%;
  padding: 50px 0 50px 0;
  margin-top:0px;
}

a:link {
  color:#70E079;
}
a:visited {
  color:#804059;
}
a:visited {
  color:#70E079;
}

iframe {
  width:200px;
  height:150px;
}

h1 {
  font-size: 70px;
  font-family: Bodoni serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

h2, h3, #text {
  text-align:center;
}

#text {
  color: #EEEEEE;
  font-weight: normal;
}

#userPageButton {
  color:#FFFFFF !important;
  text-decoration: none !important;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:none;
  text-align: center;
  padding: 0.4em;
  margin: 0.4em;
  font-size: 14px;
  background-color: #d24545;
}

#contents>ol {
  padding:20px 5px 20px 5px;
  width:80%;
  table-layout:fixed;
  margin:auto;
  margin-top:20px;
}

#contents>ol>div {
  border-radius:10px;
  background-color: #EDDCA4;
  width:90%;
  margin-left:5%;
  margin-bottom:1.5em;
  padding: 0.5em 1em 0.5em 3em;
}

#contents div>li {
  color: #000099;
}

#contents ol>li {
  color: #000033;
}

.button-rink, .button-rink:visited {
  font-size:13px;
  background-color: #187D60;
  display:inline-block;
  padding:4px 8px 3px 9px;
  color:#ffffff;
  text-decoration:none;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:none;
  position:relative;
  width:10%;
  left:45%;
  cursor:pointer;
  vertical-align: middle;
  margin-top:30px;
  text-align: center;
}
a.button-rink {
  color:#ffffff;
}
.button-rink a:link {
  color:#ffffff;
}
.button-rink:hover {
  background:#555555;
  color:#fff;
}
