/* flexcroll */
.scrollgeneric {
  line-height:1px;
  font-size:1px;
  position:absolute;
  top:0;
  left:0;
}

/* 縦スクロール範囲 */
.vscrollerbase {
  width:5px;
  background-color:#eee;
}

/* 縦スクロールバー */
.vscrollerbar {
  width:5px;
  background-color:#999999;
}

/*
// 横スクロール範囲
.hscrollerbase {
  height:10px;
  background-color:#eee;
}

// 横スクロールバー
.hscrollerbar {
  height:10px;
  background-color:#900;
}
*/

/*縦横スクロールバー
.scrollerjogbox {
  width:10px;
  height:10px;
  top:auto;
  left:auto;
  bottom:0;
  right:0;
  background-color:#eee;
}
*/
