.header {
  z-index:200;
  position:fixed !important;
  top:0;
  left;0;
  font-weight: normal;
  background-color: #303030;
  width:100%;
  height: 2.5em !important;
  box-shadow: 0px 2px #666666;
  display: block;
}

.header > div *{
  vertical-align: middle;
  height: 100%;
}

#titleLogo {
  background:none;
  border: 0px;
  position: absolute;
  width: 10%;
  left: 45%;
}

.header img {
  margin:0;
  padding:0;
}


#userNav {
  float: right;
  margin: 0px;
  height: 2em;
  position: relative;
  top: 0.25em;
}

#userNav > ul {
  list-style: none outside none;
  margin: 0px;
  padding: 0px;
}

.header li {
  float: left;
  margin-right: 1em;
}

#userName {
  padding-right: 1em;
  padding-left: 1em;
}
.headerLink, .headerLink:visited {
  display: inline-block;
  font-size:14px;
  /*padding:3px 3px 2px 3px;*/
  color:#FFFFFF !important;
  text-decoration:none;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:none;
  cursor:pointer;
  margin-right:2em;
  text-align: center;
  width: 100%;
  line-height: 2.5;
}
#toUserPage, #toUserPage:visited, #toSetting, #toSetting:visited {
  background-color: #B24545;
}
#logoutButton, #logoutButton:visited {
  background-color: #45AAC2;
  margin-right:1em;
}
#howTo, #howTo:visited {
  background-color: #45A167;
}
.headerLink {
  color:#ffffff;
}
.headerLink a:link, a.headerLink:hover {
  color:#ffffff;
}
#logoutButton:hover {
  background:#68E1D8;
}
#toUserPage:hover, #toSetting:hover {
  background:#E37879;
}
#howTo:hover {
  background:#66A777;
}


