@font-face {
  font-family: 'Mig';
  src: url('./migmix-2p-regular.ttf') format('truetype');
}

html{
  font-family:'Mig', 'メイリオ','Meiryo','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック',sans-serif;
}

body {
  font-size:18px;
  background: #304560;
  color:#E9E9FF;
  width:100%;
  padding: 50px 0 50px 0;
  margin-top:0px;
}

h4 {
  text-align: center;
}

a:link {
  color:#70E079;
}

a:visited {
  color:#70E079;
}

h2, h3, #text {
  text-align:center;
}

#text {
  color: #EEEEEE;
  font-weight: normal;
}

#userPageButton {
  color:#FFFFFF !important;
  text-decoration: none !important;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:none;
  text-align: center;
  padding: 0.4em;
  margin: 0.4em;
  font-size: 14px;
  background-color: #B24545;
}

#contents ul {
  padding:20px 5px 20px 5px;
  width:80%;
  table-layout:fixed;
  margin:auto;
  margin-top:20px;
  display: table;
}

#contents ul>div {
  border-radius:10px;
  background-color: #EDDCA4;
  width:90%;
  margin-left:5%;
  margin-bottom:1.5em;
  border: 2px double #003311;
  padding: 0.5em 1em 0.5em 2em;
}

#contents div>li {
  color: #000099;
}

#contents ol>li {
  color: #000044;
}

#article {
  margin-top: 0px;
  background-color: #2365A0;
  font-size:15px;
  font-weight: bold;
  border: 2px dashed #22BBFF;
}
.button-rink, .button-rink:visited {
  font-size:13px;
  background-color: #187D60;
  display:inline-block;
  padding:4px 8px 3px 9px;
  color:#ffffff;
  text-decoration:none;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:none;
  position:relative;
  width:10%;
  left:45%;
  cursor:pointer;
  vertical-align: middle;
  margin-top:30px;
  text-align: center;
}
a.button-rink {
  color:#ffffff;
}
.button-rink a:link {
  color:#ffffff;
}
.button-rink:hover {
  background:#555555;
  color:#fff;
}

#cm > a, #tweet > a, #follow > a {
  text-decoration: none;
  color: #FFFFFF;
}

#cm {
  background-color: #3480C2;
  width: 5em;
  padding-left: 1em;
  vertical-align: middle;
  border-radius:4px;
}
#tweet {
  background-color: #3480C2;
  width: 9em;
  padding-left: 1em;
  vertical-align: middle;
  border-radius:4px;
}

#cm:hover,  #tweet:hover, #follow:hover {
  background-color: #50B4E3;
}

#follow {
  background-color: #3480C2;
  vertical-align: middle;
  border-radius:4px;
  text-align:center;
  width: 20em;
}
#exit a, #exit a:visited {
  color: #DD3355; !important
}

#exit a:hover {
  background-color: #DD3355;
  color: #FFFFFF;
}
