@font-face {
  font-family: 'Mig';
  src: url('./migmix-2p-regular.ttf') format('truetype');
}

html{
  font-family:'Mig', 'ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック','メイリオ','Meiryo',sans-serif;
}

body {
  background: #304560;
  color: #E9E9FF;
  width:100%;
  padding: 50px 0 50px 0;
  margin-top:0px;
  font-size: 18px;
}

/*
body {
  background: #CCEECC  !important;
  color: #334477 !important;
}
#contents {
  background: #CCEECC  !important;
}
.videoThumbnail {
  background-color: #375D3B !important;
}
  */

a:link {
  color:#70E079;
}
a:visited {
  color:#804059;
}
a:visited {
  color:#70E079;
}

h1 {
  font-size: 70px;
  font-family: Bodoni serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

h2 {
  text-align: center;
}

h3 {
  text-align:center;
  color: #334477;
}

#orderYoutube {
  border: #8888FF solid 2px;
  padding: 0.2em;
  font-size:16px;
  font-weight: bold;
  color: #0000AA;
  height: 2em;
  vertical-align: middle;
  background-color: #F7F7F7;
}

#orderYoutube:active {
  border: #4444FF solid 3px;
  color: #2222EE;
}

#selectYoutube {
  vertical-align: middle;
  border: #447744 solid 2px;
  padding: 0.2em;
  font-size:16px;
  font-weight: bold;
  color: #008800;
  height: 2em;
}

option {
  border: 1px solid #CCCCCC;
  margin: -1px 0 0;
  padding: 0.2em 0.2em 0.2em 24px;
  font-weight: normal;
  line-height: 1em;
  color: #004400;
}

option[selected] {
  font-weight: bold;
  color: #004400;
}

#container {
  width:100%;
  display:table;
  text-align:center;
}

div.youtubeThumbnail {
  border:2px dotted #CCCCFF;
  margin:5px;
  text-align:center;
  padding:5px;
}

img {
  border:1px solid #003311;
  max-width:90%;
  background:url(../img/loading.gif) 50% 50% no-repeat;
}

#youtube img {
  box-shadow: 0 0 3px #FFFFFF;
  margin-top:0.3em;
}


#contents {
  padding:20px 5px 20px 5px;
  display:table;
  background: #EDDCA4;
  border-radius:15px;
  width:90%;
  table-layout:fixed;
  text-align:center;
  margin:auto;
  margin-top:20px;
  padding:10px;
  padding-bottom: 30px;
}

.videoThumbnail {
  display:inline-block;
  border-radius:10px;
  background-color: #206048;
  color:#FFFFFF;
  width:26%;
  text-align:center;
  margin:10px;
  padding:0.5em;
}

.videoTitle {
  overflow:auto;
  display:block;
  height:4em;
  width:100%;
  text-align:center;
  font-size:14px;
}

#footer {
  text-align:center;
}
