@font-face {
  font-family: 'Mig';
  src: url('./migmix-2p-regular.ttf') format('truetype');
}
html{
font-family:'Mig', 'ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック','メイリオ','Meiryo',sans-serif;
}

body {
  background: #304560;
  color:#E9E9FF;
}

h1 {
  font-size: 70px;
  font-family: Bodoni serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

h2, h3 {
  text-align:center;
}
#footer {
  text-align:right;
  text-size:4px;
}

#login_form{
  text-align:center;
}

table{
  text-align:center;
  margin:auto;
}

#email{
  padding-top:20px;
  text-align:right;
  border-top: 3px dotted rgba(255,255,255,.7);
}
#pass{
  padding-top:10px;
  padding-bottom:20px;
  text-align:right;
  border-bottom: 3px dotted rgba(255,255,255,.7);
}

input.userData {
  padding: 0.3em;
  font-size: 15px;
  width:20em;
}

#login_form td {
  padding-right: 1em;
  padding-left: 1em;
}

#login{
  /*stitching*/
  display:table-cell;
  outline: 1px dashed #98abb9;
  outline-offset: -5px;
  background-color: #308068;
  width: 80px;
  height:30px;
  text-align:center;
  color:#FFFFFF;
  font-size:15px;
  vertical-align:middle;
}

.button-rink, .button-rink:visited {
  background-color: #2365A0;
  text-decoration:none;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:none;
  cursor:pointer;
  vertical-align: middle;
  text-align: center;
}
.button-rink:hover {
  background-color: #3480C2;
}

#buttons {
  display: table;
  text-align: center;
  margin: auto;
  margin-top: 2em;
}

#buttons>div {
  display:table-row;
}

#article {
  color:#FFFFFF;
  font-size:18px;
  font-weight: bold;
  border: 2px dashed #22BBFF;
  position:relative;
  top: 2em;
  padding: 0.1em 1em 0.1em 1em;
  vertical-align:middle;
}

#toTopPageDiv {
  text-align:center;
  position:relative;
  top: 5em;
}
#toTopPage {
  background-color: #44A088;
  padding: 0.5em;
  color: #FFFFFF;
}

#toTopPage:hover {
  background-color: #77D8AA;
}
