html{
font-family:'ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック','メイリオ','Meiryo',sans-serif;
}

body {
  background: #21303b;
  color:#E0E0FF;
}

a:link {
  color:#70E079;
}
a:visited {
  color:#804059;
}
a:visited {
  color:#70E079;
}

h2 {
  font-size: 30px;
  font-family: Bodoni serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

input.userData {
  padding: 0.3em;
  font-size: 15px;
  width:20em;
}

td {
  padding: 0px;
}

p {
  padding-right: 1em;
  padding-left: 1em;
}

#signup,form{
  text-align:center;
  margin:auto;
}

.name{
  padding-top: 1em;
  text-align:right;
  border-top: 3px dotted rgba(255,255,255,.7);
}
.email{
  text-align:right;
}
.pass{
  text-align:right;
  border-bottom: 3px dotted rgba(255,255,255,.7);
  padding-bottom: 1em;
}


.button{
  /*stitching*/
  display:table-cell;
  outline: 1px dashed #98abb9;
  outline-offset: -5px;
  background-color: #308068;
  width: 80px;
  height:30px;
  text-align:center;
  color:white;
  font-size:15px;
  vertical-align:middle;
  margin-right: 2em;
}
#register{
  /*stitching*/
  display:table-cell;
  outline: 1px dashed #98abb9;
  outline-offset: -5px;
  background-color: #246880;
  width: 80px;
  height:30px;
  text-align:center;
  color:white;
  font-size:15px;
  vertical-align:middle;
}
