#twLogin {
  text-align: center;
  margin-top: 2em;
}

#twLogin span {
  height: 30em;
  line-height: 30px;
  width: 100%;
  padding: 0 4px;
  border-radius: 10px;
  color: #223366;
  border: 2px solid #223366;
  box-shadow: 0 0 0.3em #335588;
  font-size: 20px;
}
#twLogin > a {
  text-decoration: none;
}

#twLogin .text {
  margin-right: 5px;
  padding: 0.5em 0.5em 0.5em 2em;
  background: #FFFFFF;
  background-image: url(../img/twitterLogo.png);
  /*
  -webkit-gradient(linear, left top, left bottom,
  from(#FFFFFF), to(#DDDDDD));
  background-image: url(../img/twitterLogo.png),
  -moz-linear-gradient(270deg, #FFFFFF, #DDDDDD);
  background-image: url(../img/twitterLogo.png),
  -o-linear-gradient(270deg, #FFFFFF, #DDDDDD);
  */
  background-repeat: no-repeat, no-repeat;
  background-position: top left;
  background-size: 2em 2em;
  font-weight: bold;
}
#twLogin a:active .text {
  color: #4455CC !important;
}
#twLogin a:hover .text {
  border-color: #6677BB;
  background-image: url(../img/twitterLogo.png) !important;
  box-shadow: 0 0 0.5em #7799BB;
  color: #4477AA;
  /*
  -webkit-gradient(linear, left top, left bottom,
  from(#F8F8F8), to(#D8D8D8));
  background-image: url(../img/twitterLogo.png),
  -moz-linear-gradient(270deg, #F8F8F8, #D8D8D8);
  background-image: url(../img/twitterLogo.png),
  -o-linear-gradient(270deg, #F8F8F8, #D8D8D8);
  */
}
/*
#twLogin .text {
  background-attachment: scroll;
  background-clip: border-box;
  background-color: #EEEEEE;
  background-image: url("./img/twitterLogo.png"), -moz-linear-gradient(270deg, #FFFFFF, #DDDDDD);
  background-origin: padding-box;
  background-position: 0 50%, 0 0;
  background-repeat: no-repeat, no-repeat;
  background-size: 20px auto, auto auto;
  font-weight: bold;
  margin-right: 5px;
  padding-left: 20px;
}

#twLogin span {
  border: 1px solid #CCCCCC;
  border-radius: 3px 3px 3px 3px;
  color: #333333;
  font-size: 10px;
  height: 18px;
  line-height: 18px;
  padding: 0 4px;
}
#twLogin span {
  display: block;
  float: left;
  font-family: sans-serif;
}
  */
