@font-face {
  font-family: 'Mig';
  src: url('./migmix-2p-regular.ttf') format('truetype');
}
html {
  font-family:'Mig', 'ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック','メイリオ','Meiryo',sans-serif;
}

body {
  background: #304560;
  color:#E9E9FF;
  width:100%;
  padding: 50px 0 50px 0;
  margin-top:0px;
  font-size: 18px;
}

/*デザイン(背景色)改造中*/
/*
body {
  background: #B0DDB0  !important;
  color: #334477 !important;
}
#contents {
  background: #B0DDB0  !important;
}
  */
a:link {
  color:#70E079;
}
a:visited {
  color:#804059;
}
a:visited {
  color:#70E079;
}

h1 {
  font-size: 70px;
  font-family: Bodoni serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

h2, h3 {
  text-align:center;
}
#footer {
  text-align:right;
  text-size:4px;
  margin:10px;
}

.initHint {
  color: #999999;
}
.afterHint {
  color: #000000;
}
#contents {
  padding:20px 5px 20px 5px;
  display:table;
  background: #EDDCA4;
  border-radius:15px;
  width:90%;
  table-layout:fixed;
  text-align:center;
  margin:auto;
  margin-top:20px;
}

#contents img {
  border:1px solid #003311;
  max-width:90%;
  background:url(../img/loading.gif) 50% 50% no-repeat;
  box-shadow: 0 0 3px #FFFFFF;
}

.placeholder {
  display:inline-block;
  border:2px dotted #003311;
  background-color:rgba(50, 150, 120, .7);
  width:20%;
  height:10em;
}

.videoContent {
  display:inline-block;
  border-radius:10px;
  background-color: #206048;
  color:#FFFFFF;
  width:28%;
  text-align:center;
  margin:10px;
  padding:0.5em;
}
.videoThumbnail {
  text-align:center;
}

.videoSeq {
  display:none;
}
div.videoTitle, div.videoMemo {
  overflow:auto;
  display:block;
  height:5em;
  width:100%;
  text-align:center;
  font-size:14px;
}

div.videoMemo {
  height: 3.5em; !important
}
.videoRow {
  display:table-row;
}

table {
  width:100%;
}
table td {
  text-align:center;
}

#addMovieButton {
  width:20%;
  position:relative;
  /*left:32.5%;*/
  left:40%;
  padding:5px;
  margin-bottom:20px;
  vertical-align:middle;
  border-radius:15px;
  font-size:18px;
  font-weight: bold;
  outline: 1px dashed #98CBD9;
  outline-offset: -7px;
  background-color: #A09010;
  background-color: #306048;
  color:#EEEEEE;
}

#deleteMovieButton {
  width:100%;
  border-radius:10px;
  font-size:22px;
  outline: 1px dashed #D9CB98;
  outline-offset: -7px;
  background-color: #602028;
  color:#EEEEEE;
  /* display:block; */
  height:2.5em;
  text-align:center;
}

#randomButton {
  width:15%;
  position:relative;
  /*left:32.5%;*/
  left:42.5%;
  padding:3px;
  vertical-align:middle;
  border-radius:15px;
  font-size:18px;
  font-weight: bold;
  outline: 1px dotted #CCCCCC;
  outline-offset: -8px;
  background-color: #303868;
  color:#DDDDDD;
}

#addMovieDialog {
  text-align:right;
  padding:5px;
  z-index:256;
}
#addMovieDialog input, #addMovieDialog textarea, #addMovieDialog span {
  text-align:left;
  vertical-align:middle;
  width:80%;
}

#addMovieDialog span {
  float: left;
  margin-left: 10%;
}
#addMovieDialog>p {
  width:90%;
  display:table;
}

div.ui-dialog {
  opacity:1 important!;
  z-index:256;
}
.error {
  background:#ff6699;
  padding: 20px;
  text-align:center;
}

#toTop {
  padding-top: 30px;
  text-align: center;
  margin: auto;
}

/* リンクボタン */

.button-rink, .button-rink:visited {
  font-size:13px;
  background-color: #187D60;
  display:inline-block;
  padding:3px 7px 2px 8px;
  color:#ffffff;
  text-decoration:none;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:none;
  position:relative;
  cursor:pointer;
  margin:10px 10px 0 0;
  vertical-align: middle;
}
a.button-rink {
  color:#ffffff;
}
.button-rink a:link {
  color:#ffffff;
}
.button-rink:hover {
  background:#555555;
  color:#FFFFFF;
}
